.mission-list {
   padding-inline: 1rem;
}

.mission-list__container {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 1rem;
}

@media (min-width: 44rem) {
   .mission-list__container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 65rem) {
   .mission-list__container {
      grid-template-columns: repeat(4, 1fr);
   }
}
