* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: #ccc;
   padding-inline: 1rem;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a {
   text-decoration: none;
   color: black;
}

h1,
h2,
h3 {
   margin-bottom: 0.5rem;
   text-align: left;
}
